services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      - POSTGRES_DB=clothing_shop_db
      - POSTGRES_USER=django_user
      - POSTGRES_PASSWORD=secret_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: